/* Colors */

/* Default Palette */

// primary - links
@primaryDark:#000;
@primaryLight:#fff;
@primaryColor:#385880;
@primaryColorLight:lighten(@primaryColor,10%);
@primaryColorDark:darken(@primaryColor,10%);

// regular text
@secondaryDark:#3a3a3a;
@secondaryLight:#eee;
@secondaryColor:#3a3a3a;

/* General Colors */

//@bgColorLight:;
//@bgColorDark:;


/* Elements */

@headerColor:#000;
@subheaderColor:#777; //h1 <small>, h2
@subsubheaderColor:#aaa; //h3
