
.documentation-container {
  @import (multiple) "reset.less";
  @import (multiple) "colors.less";

  @baseFontSize: 16px;
  // in pixels. This would result in 22px on desktop
  @baseLineHeight: 1.5;
  // how large the line height is as a multiple of font size
  @leading: @baseLineHeight * 1rem;
  @scale: 1;

  & > .documentation-body {
    font-size: @baseFontSize;
    -webkit-font-smoothing: antialiased;
    margin-bottom: @leading;

    /* Copy & Lists */
    p {
      font-size: @baseFontSize;
      line-height: @leading;
      margin-bottom: @leading;
      margin-top: 0;
      color: @colorPrimary;
    }
    a {
      color: @accentPrimary;
    }
    ul, ol {
      margin: @leading 0;
      padding: 0;
      list-style-position: inside;
      list-style-type: none;

      li {
        line-height: @leading;
        padding: 0.5rem 0;

        &:before {
          content: '•';
          display: block;
          line-height: @leading;
          margin: 0;
          width: 1em;

          float: left;
          clear: right;
        }

        p, pre {
          display: block;
          margin: 0 0 @leading 0;
        }

        p {
          line-height: @leading;
        }

        pre {
          width: 100%
        }

        code {
          vertical-align: middle;
        }
      }
      ul, ol {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    blockquote {
      line-height: @leading;
      margin-top: @leading;
      margin-bottom: @leading;
    }

    /* Headings */
    h1, h2, h3, h4, h5, h6 {

      /* Change heading typefaces here */
      font-family: 'Open Sans', 'Arial', sans-serif;
      padding: @leading 0 0 0;
      margin: 0 0 @leading 0;
      color: @colorPrimary;
    }
    h1 {
      font-size: 2 * @scale * @baseFontSize;
      font-weight: bold;
      line-height: 2 * @scale * @baseFontSize;
    }
    h2 {
      font-size: 1.5 * @scale * @baseFontSize;
      font-weight: bold;
      line-height: 1.5 * @scale * @baseFontSize;
    }
    h3 {
      font-size: 1.1 * @scale * @baseFontSize;
    }
    h4 {
      font-size: @scale / 2 * @baseFontSize;
    }
    h5 {
      font-size: @scale / 3 * @baseFontSize;
    }
    h6 {
      font-size: @scale / 4 * @baseFontSize;
    }
    pre {
      background: @accentTernary !important;
      border: 1px solid @accentSecondary !important;
      border-radius: 3px !important;
      color: @colorPrimary !important;
      font-family: Consolas, Monaco, Andale Mono, monospace;
      padding: 2em;
      max-width: 800px;
      white-space: pre-wrap;
      margin: @leading 0;
    }

    pre > code {
      background: @accentTernary !important;
      border: none !important;
      border-radius: 0 !important;
      color: @colorPrimary !important;
      padding: 0;
      margin: 0;
    }

    :not(pre) > code {
      font-family: Consolas, Monaco, Andale Mono, monospace;
      background: @accentTernary !important;
      border: 1px solid @accentSecondary !important;
      border-radius: 3px !important;
      color: @colorPrimary !important;
      padding: 3px !important;
      white-space: nowrap;
    }

    blockquote {
      border-left: 5px solid @accentSecondary;
      padding: 1rem;

      p {
        margin:0;
        padding:0;
      }
    }

    img {
      border: solid 1px @colorSecondaryText;
      max-width: 100%;
    }
  }
}
.docs-nav {
  @import (multiple) "reset.less";
  @import (multiple) "colors.less";

  @baseFontSize: 16px;
  // in pixels. This would result in 22px on desktop
  @baseLineHeight: 1.5;
  // how large the line height is as a multiple of font size
  @leading: @baseLineHeight * 1rem;
  @scale: 1;

  & {
    border-right: solid 1px fade(@colorSecondaryText, 10%);

    .nav >li > a {
      padding: 0;
      margin: 1em 0;
    }

    a {
      background: none;
      color: @colorSecondaryText;

      &.active {
        color: @colorPrimary;
        font-weight: bold;
      }
    }

    h1 {
      font-size: 2 * @scale * @baseFontSize;
      font-weight: bold;
      line-height: 2 * @scale * @baseFontSize;
    }
    h2 {
      font-size: 1.5 * @scale * @baseFontSize;
      font-weight: bold;
      line-height: 1.5 * @scale * @baseFontSize;
    }
    h3 {
      font-size: 1.1 * @scale * @baseFontSize;
      font-weight: bold;
    }
    h3.active {
      color: @accentPrimary;
    }
    h4 {
      font-size: @scale / 2 * @baseFontSize;
    }
    h5 {
      font-size: @scale / 3 * @baseFontSize;
    }
    h6 {
      font-size: @scale / 4 * @baseFontSize;
    }
  }
}